# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\sarun\Dropbox\Documents\Mokslai\Kursai\JAVA\SDA\IdeaProjects\devbridgeBonus\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
